@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  line-height: 1.4;
  background-color: #fff;
  transition: all 0.5s;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  color: #333;
  margin: auto;
  margin-top: 10%;
}
.todo-list {
  list-style: none;
  margin-bottom: 20px;
}

.todo-item {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-item span {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 22px;
}
input[type='checkbox'] {
  display: none;
}
.tick {
  width: 30px;
  height: 30px;
  border: 3px solid #333;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.delete-todo {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.delete-todo svg {
  width: 30px;
  height: 30px;
  pointer-events: none;
}
form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
input[type='text'] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 2px solid #333;
}

input:focus {
  outline: none;
  background-color: #d4e7d5;
}
.done span {
  text-decoration: line-through;
  user-select: none;
}
.tick::before {
  content: '✔';
  font-size: 20px;
  display: none;
}
.done .tick::before {
  display: inline;
}
